td {
    text-transform: capitalize;
}

.table-main {
    display: flex;
    flex-direction: column;
}

.table-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
}

/* Add any additional styling you need for the table rows, cells, etc. */

.mat-paginator {
    width: 100%;
}